{% extends "base.html" %}
{% block content %}

 <p>Video</p>


<video width="320" height="240" controls>
    <source src={{ url_for('static', filename="test.mp4") }} type="video/mp4">
    Your browser does not support the video tag.
  </video>

{% for mess in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    {{ mess }}
</div>y

{% endfor %}


<form method="POST">
    {{ form.hidden_tag()}}
    {{form.email.label}}{{form.email()}}
    {{form.submit()}}
</form>


{% endblock %}
