{% extends "base.html" %}
{% block content %}

<p>Odpowiedz na pytania</p>

<form method="POST">
    {{ form.hidden_tag()}}

    <div class="jumbotron jumbotron-fluid">
    {{form.question_1()}}
    </div>
    <div class="jumbotron jumbotron-fluid">
    {{form.question_2()}}
    </div>
    <div class="jumbotron jumbotron-fluid">
    {{form.question_3()}}
    </div>
    <div class="jumbotron jumbotron-fluid">
    {{form.question_4()}}
    </div>
    <div class="jumbotron jumbotron-fluid">
    {{form.question_5()}}
    </div>
    <div class="jumbotron jumbotron-fluid">
    {{form.question_6()}}
    </div>

    {{form.question_7()}}

    {{form.question_8()}}

    {{form.question_9()}}

    {{form.question_10()}}

    {{form.question_11()}}

    {{form.question_12()}}

    {{form.question_13()}}

    {{form.question_14()}}

    {{form.question_15()}}

    {{form.question_16()}}

    {{form.question_17()}}

    {{form.question_18()}}

    {{form.question_19()}}

    {{form.question_20()}}

    {{form.question_21()}}

    {{form.question_22()}}

    {{form.question_23()}}

    {{form.question_24()}}


    {{form.submit()}}
</form>

{% endblock %}
