{% extends "base.html" %}
{% block content %}

<p>Odpowiedz na pytania</p>

<form method="POST">
    {{ form.hidden_tag()}}
    {{form.question_1.label}}
    {{form.question_1()}}
       {{form.question_2.label}}
    {{form.question_2()}}
    <p>miejsce na pytanie</p>
    {{form.question_3()}}
    <p>miejsce na pytanie</p>
    {{form.question_4()}}
    <p>miejsce na pytanie</p>
    {{form.question_5()}}
    <p>miejsce na pytanie</p>
    {{form.question_6()}}
    <p>miejsce na pytanie</p>
    {{form.question_7()}}
    <p>miejsce na pytanie</p>
    {{form.question_8()}}
    <p>miejsce na pytanie</p>
    {{form.question_9()}}
    <p>miejsce na pytanie</p>
    {{form.question_10()}}
    <p>miejsce na pytanie</p>
    {{form.question_11()}}
    <p>miejsce na pytanie</p>
    {{form.question_12()}}
    <p>miejsce na pytanie</p>
    {{form.question_13()}}
    <p>miejsce na pytanie</p>
    {{form.question_14()}}
    <p>miejsce na pytanie</p>
    {{form.question_15()}}
    <p>miejsce na pytanie</p>
    {{form.question_16()}}
    <p>miejsce na pytanie</p>
    {{form.question_17()}}
    <p>miejsce na pytanie</p>
    {{form.question_18()}}
    <p>miejsce na pytanie</p>
    {{form.question_19()}}
    <p>miejsce na pytanie</p>
    {{form.question_20()}}
    <p>miejsce na pytanie</p>
    {{form.question_21()}}
    <p>miejsce na pytanie</p>
    {{form.question_22()}}
    <p>miejsce na pytanie</p>
    {{form.question_23()}}
    <p>miejsce na pytanie</p>
    {{form.question_24()}}
    <br>
    {{form.submit()}}
</form>

{% endblock %}
